@font-face {
    font-family: "Proxima-Nova";
    src: local("ProximaNova-Regular"),
      url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Proxima-Nova-Bold";
    src: local("ProximaNova-Bold"),
      url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Futura";
    src: local("Futura-Bold"),
      url("../fonts/Futura-Bold.ttf") format("truetype");
  }