$add-white: url('../assets/add-w.svg');
$add: url('../assets/add.svg');
$icon-home: url('../assets/home.svg');
$icon-projects: url('../assets/projects.svg');
$icon-user-mgmt: url('../assets/user-mgmt.svg');
$icon-data-insight: url('../assets/data-insight.svg');
$icon-down: url('../assets/down.svg');
$icon-down-white: url('../assets/down-w.svg');
$icon-user-guide: url('../assets/user-guide.svg');
$icon-user: url('../assets/user.svg');
$icon-logout: url('../assets/logout.svg');
$icon-close: url('../assets/close.svg');
$icon-external-link: url('../assets/external-link.svg');
$icon-backriver-plant: url('../assets/backriver-plant.svg');
$icon-edit: url('../assets/edit.svg');
$icon-setting: url('../assets/setting.svg');
$icon-target: url('../assets/target.svg');
$icon-arrow-left: url('../assets/arrow-left.svg');
$icon-upload: url('../assets/upload.svg');
$icon-delete: url('../assets/delete.svg');
$icon-update: url('../assets/update.svg');
$icon-menu: url('../assets/Menu.svg');
